*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-color:#d8bc41;
    --heading-color:#ff8f68;
}
h1{ 
    font-family: 20px;
    text-align: center;
    color: var(--heading-color);
    padding: 20px;
}
nav{
    text-align: center;
    background-color: var(--primary-color);
    display: grid;

}
ul li{
    list-style: none;
   
}
nav ul a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    font-size: 19px;
    transition: 0.2s ease-in;
}
div img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    column-gap: 20px;
    row-gap: 20px;
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius:4px;
    background-color: #ffae32;
    transition: 0.2s all; 
}
.item button:hover{
    background-color: var(--heading-color);
    transform: scale(1.08);
}
@media (max-width:1000px){
    .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:786px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }
}